<div class="table-wrapper mat-elevation-z8">
  <div class="header-row">
    <mat-form-field>
      <input matInput type="text" (keyup)="filterTable($event.target.value)" placeholder="Filter hostnames">
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="!isSelected()" style="float: right; margin-top: 10px;">Delete group</button>
    <button mat-raised-button color="primary" style="float: right; margin-top: 10px;" (click)="openDialog()">New group</button>
  </div>
  <table mat-table [dataSource]="dataSource" style="width: 100%">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="$event ? masterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
          [aria-label]="checkboxLabel()"
        >
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
          [aria-label]="checkboxLabel(row)"
        >
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="group_id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element">{{ element.group_id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="group_name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.group_name }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="group_type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let element">{{ element.group_type }}</td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      [routerLink]="['/dashboard/groups/', row.group_id]"
    ></tr>

  </table>
  <mat-paginator [pageSizeOptions]="[25, 50, 100, 250, 500]" showFirstLastButtons></mat-paginator>

</div>
